/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#faceDownImages{
  display: flex;
  justify-content: space-around;
}

.faceDown{
  transform: rotate(90deg);
  width: 10%;
}